<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CadastroCliente</servlet-name>
        <servlet-class>Controler.CadastroCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logar</servlet-name>
        <servlet-class>Controler.logar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastroMotorista</servlet-name>
        <servlet-class>Controler.CadastroMotorista</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrincipalCliente</servlet-name>
        <servlet-class>Controler.PrincipalCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrincipalMotorista</servlet-name>
        <servlet-class>Controler.PrincipalMotorista</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GerenciaUsuarioCliente</servlet-name>
        <servlet-class>Controler.GerenciaUsuarioCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cartao</servlet-name>
        <servlet-class>Controler.Cartao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlteraCliente</servlet-name>
        <servlet-class>Controler.AlteraCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PedidoOrcamento</servlet-name>
        <servlet-class>Controler.PedidoOrcamento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Orcamento</servlet-name>
        <servlet-class>Controler.Orcamento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Veiculo</servlet-name>
        <servlet-class>Controler.Veiculo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContaBancariaMotorista</servlet-name>
        <servlet-class>Controler.ContaBancariaMotorista</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlteraMotorista</servlet-name>
        <servlet-class>Controler.AlteraMotorista</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CadastroCliente</servlet-name>
        <url-pattern>/CadastroCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logar</servlet-name>
        <url-pattern>/logar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastroMotorista</servlet-name>
        <url-pattern>/CadastroMotorista</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrincipalCliente</servlet-name>
        <url-pattern>/PrincipalCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrincipalMotorista</servlet-name>
        <url-pattern>/PrincipalMotorista</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GerenciaUsuarioCliente</servlet-name>
        <url-pattern>/GerenciaUsuarioCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cartao</servlet-name>
        <url-pattern>/Cartao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlteraCliente</servlet-name>
        <url-pattern>/AlteraCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PedidoOrcamento</servlet-name>
        <url-pattern>/PedidoOrcamento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Orcamento</servlet-name>
        <url-pattern>/Orcamento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Veiculo</servlet-name>
        <url-pattern>/Veiculo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContaBancariaMotorista</servlet-name>
        <url-pattern>/ContaBancariaMotorista</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlteraMotorista</servlet-name>
        <url-pattern>/AlteraMotorista</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
